header {
background-color: #FFFFFF;
color: #2E2F42;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

}
button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roboto;
    font-weight:500;
    font-size:16px;
    line-height:24px;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;   
}
button:hover {
    background-color: #404BBF;
}
button:focus {
    background-color: #404BBF;
}
.hero {
    background-color: #2E2F42;
    color: #FFFFFF;
    font-weight:700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.body {
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: #434455 ;
}
.page-link .link {
    text-decoration: none;
    font-weight:500;
    font-size:16px;
    line-height:24px;
    letter-spacing: 0.02em;
    color: #2E2F42

}
.page-link .link:hover {
    color: #404BBF;
}
.page-link .link:active {
    text-decoration: underline;
    color: #404BBF;
}
.page-link .link:focus {
    color: #404bbf;
}
.address .link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#434455;
    font-style: normal;

}
.address .link:hover {
    color: #404BBF;
}
.address .link:focus{
    color: #404bbf;
}
.section-1 {
    background-color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    
}
.section-2 {
    background-color: #F4F4FD;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-3 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #FFFFFF;
}
p {
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}
.footer {
    background-color: #2E2F42;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.logo {
    text-decoration: none;
    color: #4d5ae5 
}
.footer-logo {
    text-decoration: none;
    color: #4d5ae5;
}
.subtitle {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-text {
    color: #F4F4FD;
}
.span {
color: #2E2F42;
color: #f4f4fd;
}